<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'addition' %}" method ="post">
        {%csrf_token%}
        <input type="text" name="Value1" placeholder="Enter First Number">
        <input type="text" name="Value2" placeholder="Enter Second Number">
        <input type="submit" value="Addition">
        
    </form>
    <ul>
    {% for data in addData %}
     <p>{{addition}}</p>
    {% endfor %}
    </ul> 
</body>
</html>