<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button >
        <a href="{% url 'addition' %}" method="post">Addition</a>
    </button>
    <button >
        <a href="{% url 'subtraction' %}" method="post">Subtraction</a>
    </button>
    <button >
        <a href="{% url 'multiplication' %}" method="post">Multiplication</a>
    </button>
    <button >
        <a href="{% url 'division' %}" method="post">Division</a>
    </button>
</body>
</html>